hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 9px;
  color: #f6c7c7;
  width: 5%;
}

body{
  background-color: #fbe8e7;
}

h1{
  color: #f12b6b;
}

h3{
  color: #ff467e;
}

.center-align{
  text-align: center;
}

.top-align{
  vertical-align: top;
}
