hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  color: #cbf1f5;
  width: 5%;
}

body{
  background-color: #e3fdfd;
}

h1{
  color: #71c9ce;
}

h3{
  color: #71c9ce;
}

.center-align{
  text-align: center;
}

.top-align{
  vertical-align: top;
}
